

* {
    box-sizing: border-box;
    direction: rtl;
    margin: 0; 
    padding: 0;
}

body {
    /*width: 100vw;*/
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center; /* منتصف رأسي  ^| */
    justify-content: center; /* منتصف عرضي <-> */
    background: #2C3A4A;

}

.wrapper {
    height: 100%;
    width: 100%;
    
    display: grid;
    /*grid-template-columns: repeat( auto-fill , minmax( 200px , 1fr ) ); /* يعني يملئ الصف بعدد من العناصر بحيث لا يقل عرض العنصر عن 200 وعندما يزيد ينزله صف جديد*/
    grid-template-columns: repeat( 12 , minmax(30px,40px) );
    grid-gap: 20px;
    /*grid-auto-rows: minmax(50px, auto);*/
    /*grid-auto-columns: minmax(150px, auto);*/
    
    /*align-items: flex-start;*/
    justify-content: space-evenly;
    
    justify-items: stretch;
    align-items: stretch;
    
    background-color: #F2F6FF;
    /*margin: auto;*/
}
.item {
    /*width: 40px;*/
    /*height: 40px;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #2C3A4A;
    border: 1px solid lightgray;
}
.item.item-a{
    grid-column: 1/4;
}

.item.b{
    grid-column: 4/7;
}

.item.c{
    grid-column: 7/10;
}

.item.d{
    grid-column: 10/13;
}





















