@import url("stylemain.css");



/*===================== WIDGET VIEW =====================*/
.widgetView {
    grid-column: 1/13;
}

.widgetView .widgetViewHeader {
    justify-content: space-between;
}









@media (max-width: 1250px) {
    
    .widgetView .widgetViewBody {
        height: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 10px;
        overflow-y: visible;
    }
    .widgetView .widgetViewBody .containerDetailes {
        overflow-y: unset;
    }
}

@media (max-width: 900px) {
    
    .widgetView {
        height: unset;
    }
    
    .widgetView .widgetViewBody {
        height: unset;
        
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        overflow-y: visible;
        
    }
    
    
    .widgetView .widgetViewBody .inner .griddetailes {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        
    }
    .widgetView .widgetViewBody .containerDetailes {
        overflow-y: visible;
    }
    
    .widgetView .widgetViewBody .containerSkills {
        width: 100%;
        min-width: unset;
    }   
    .cardList .body {
        overflow-y: visible;
    }
}

@media (max-width: 1250px) {
    
    /*.cardDetailsText {*/
    /*    width: 100%; */
        /*height: 100px;*/
    /*    flex: unset;*/
    /*}*/
    /*.cardDetailsImage {*/
    /*    width: 100%; */
        /*height: 300px;*/
    /*    flex: unset;*/
    /*}*/
    
}













